<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{edit.title}"></title>
</head>
<a th:href="@{/customers}" th:text="#{create.back}"></a>
<body>
<form th:action="@{/edit-customer}" method="post" th:object="${customer}">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <th th:text="#{customer.firstName}"></th>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <th th:text="#{customer.lastName}"></th>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>